.dropdownWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  margin: 30px 0px 30px 0px;
}

.dropdownWrapper div {
  width: max-content;
}

.dropdownWrapper h2 {
  color: var(--colorWhite);
  font-family: var(--robotRegular);
  font-weight: 350;
  font-size: 22px;
  width: max-content;
}

.dropdownButtonsWrapper {
  margin-top: 15px;
  margin-left: -8px;
  flex: column;
  height: max-content;
}