.sectionProductsBtn {
  background: transparent;
  border: none;
  color: var(--colorWhite);
  display: block;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0.25;
}

.sectionProductsBtn span {
  background-color: var(--colorWhite);
  border-radius: 5px;
  content: '|';
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  opacity: 0.25;
  width: 0.6vh;
  transition: margin-right 0.5s;
}


.sectionProductsBtn:hover, .sectionProductsBtnActive {
  opacity: 1;
}
.sectionProductsBtn:hover > span, .sectionProductsBtnActive span:only-of-type {
  opacity: 1;
  margin-right: 20px;
}
.sectionProductsBtnActive .MPRJDigitalCustomColor, .sectionProductsBtn:hover > span.MPRJDigitalCustomColor {
  background-color: var(--mainRedColor);
}

.sectionProductsBtnActive .ParquetDigitalCustomColor, .sectionProductsBtn:hover > span.ParquetDigitalCustomColor {
  background-color: #3781BD ;
}
.sectionProductsBtnActive .FarolCustomColor, .sectionProductsBtn:hover > span.FarolCustomColor {
  background-color: #FF9032  ;
}
.sectionProductsBtnActive .DiagnosticoDasPromotoriasCustomColor, .sectionProductsBtn:hover > span.DiagnosticoDasPromotoriasCustomColor {
  background-color: #6EE7FE;
}
.sectionProductsBtnActive .PainelDeComprasCustomColor, .sectionProductsBtn:hover > span.PainelDeComprasCustomColor {
  background-color: #EEE50A;
}
.sectionProductsBtnActive .LyraCustomColor, .sectionProductsBtn:hover > span.LyraCustomColor {
  background-color: #967AF9;
}
.sectionProductsBtnActive .GestaoDoTerritorioCustomColor, .sectionProductsBtn:hover > span.GestaoDoTerritorioCustomColor {
  background-color: #CB8E8A;
}
.sectionProductsBtnActive .PainelSaneamentoCustomColor, .sectionProductsBtn:hover > span.PainelSaneamentoCustomColor {
  background-color: #57D254;
}

/* @media (max-width: 1080px){
  .sectionProductsBtn  > button {
   font-size: 16px;
  }
} */
