.sectionProductsBgOuter {
  background-color: var(--mainRedColor);
  height: 60vh;
  position: relative;
  max-width: 100%;
}

.sectionProductBgImage {
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 0.8s ease-in-out;
}

.sectionProductBgImageActive {
  opacity: 1;
}

@media (max-width: 1080px) {
  /* .section-products-bg img{
      min-height: 65vh;
    } */
}
