.partnerPageCards {
    display: grid;
    padding-top: 32px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(320px, auto);
    grid-column-gap: 12%;
    margin-bottom: 30px;
    text-align: center;
}
.partnerPageCard img {
    width: 157px;
    height: 157px;
}
.partnerPageCardsTag{
    width: 157px;
    height: 20px;
    background-color: var(--mainRedColor);
    margin-top: -4px;
    margin-left: 4px;
}
.partnerPageCardsTag p{
    color: var(--colorWhite);
    text-align: center;
    padding-top: 3px;
}
@media (max-width: 1080px){
    .partnerPageCards {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(320px, auto);
    }
}
@media (max-width: 480px){
    .partnerPageCards {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(320px, auto);
      margin-top: 40px;
    }
}