.productsClass{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.productsClass > p {
  color:#9DAFBD;
}

.productsClass h4 {
  margin-top: 20px;
  text-align: center;
  color: var(--backgroundFooter);
  font-weight: 400;
  letter-spacing: -0.5px;
}

.productsTitle {
  margin: 12px 0;
}

.productsFilterWrapper {
  text-align: left;
  color: #9DAFBD;
}

.productsClass h1 {
  font-weight: normal;
  text-align: left;
  color: var(--backgroundFooter);
}

.allProducts {
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(320px, auto);
  column-gap: 2%;
}

.productsFilterWrapper {
  font-size: 14px;
  display: flex;
  margin-top: 37px;
}
.productsFilterWrapper p {
  font-size: 14px;
  margin-bottom: 26px;
  color: #263859;
}
.productsFilterTitle {
  margin: 0px 30px 4px 5px;
  color: #9dafbd;
  background: transparent;
  border: 0;
}
.productsFilterTitle:hover {
  color: #263859;
}

@media (max-width: 380px){
  .productsClass h1 {
   font-size: 20px;
  }
}
@media (max-width: 1080px){
  .productsClass{
    text-align: center;
  }
  .productsClass h1 {
    text-align: center;
  }
  .productsClass> p{
    text-align: center;
  }
  .allProducts{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .productsFilterWrapper {
    display: flex;
    justify-content: center;
  }
}
