.products {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 70px;
}
.products h4 {
  margin-top: 20px;
  text-align: center;
  color: #311E1E;
  font-weight: 400;
  letter-spacing: -0.5px;

}
.products-title {
  margin: 12px 0;
}
p.products-text {
  text-align: left;
  color: #9DAFBD;
}
.product p {
  color: #9dafbd;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 42px;

}
.products h1 {
  font-weight: normal;
  text-align: left;
  color: #311E1E;
}

@media (max-width: 380px){
  .products h1 {
   font-size: 20px;
  }
}
@media (max-width: 1080px){
  .products {
    text-align: center;
  }
  .products h1 {
    text-align: center;
  }
  .products > p{
    text-align: center;
  }
  .all-products{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}