.products {
  width: 60%;
  margin: auto;
  height: 100vh;
  text-align: center;
  position: relative;
}

.products .mainPagination {
  margin-top: 42px;
  display: inline-block;
}

.product {
  width: 20%;
  height: 100px;
  display: inline-block;
}
