.products {
  width: 60%;
  margin: auto;
  min-height: 100%;
  text-align: center;
  position: relative;
  padding: var(--sectionVerticalPadding) 0px;
}
.products .mainPagination {
  display: none;
}
.products-title {
  margin: 12px 0;
}
.products p {
  color: #9dafbd;
  text-align: left;
}
.products h1 {
  font-weight: normal;
  text-align: left;
  color: #311E1E;
}
.all-products {
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(320px, auto);
  grid-column-gap: 5%;
  column-gap: 2%;
}
.products-filter-titles {
  font-size: 14px;
  display: flex;
  margin-top: 37px;
  display: none;
}

.filter-title {
  margin: 4px 0px 4px 37px;
  color: #9dafbd;
  background: transparent;
  border: 0;
}
.filter-title.active {
  color: #263859;
}
@media (max-width: 380px){
  .products h1 {
   font-size: 20px;
  }
}
@media (max-width: 1080px){
  .products {
    text-align: center;
  }
  .products h1 {
    text-align: center;
  }
  .products > p{
    text-align: center;
  }
  .all-products{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}