{
  "extends": ["prettier", "airbnb", "plugin:react/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": ["warn"],
    "no-unused-vars": "warn",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
    "object-curly-newline": "warn",
    "jsx-a11y/anchor-has-content": "off",
    "linebreak-style": "off",
    "endOfLine": 0
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}
