.productsClass > p {
    color:#9DAFBD;
    text-align: left;
}
.productsClass h4 {
    margin-top: 20px;
    text-align: center;
    color: var(--backgroundFooter);
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: left;
    margin-left: 12px;
}
.productsClass h1 {
    font-weight: normal;
    text-align: left;
    color: var(--backgroundFooter);
}
@media (max-width: 380px){
    .productsClass h1 {
     font-size: 20px;
    }
}
@media (max-width: 1080px){
    .productsClass h1 {
        text-align: center;
      }
      .productsClass> p{
        text-align: center;
    }
}