.talkOuter {
  position: relative;
  background-color: var(--backgroundFooter);
  height: 40vh;
  margin-top: 450px;
  margin-bottom: -40px;
}
.talkButton {
  width: 108px;
  height: 38px;
  background: var(--mainRedColor);
  opacity: 1;
  letter-spacing: -0.5px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
.talkOuter img{
  position: absolute;
  bottom: 240px;
  width: 100%;
  height: 60vh;
}
.talkOuter h1{
  font-size: var(--titleFontSize);
  margin-top: 20px;
}
::-webkit-input-placeholder {
  color:#9DAFBD;
}

::-moz-placeholder {
  color:#9DAFBD;
}

::-ms-placeholder {
  color:#9DAFBD;
}

::placeholder {
  color:#9DAFBD;
}

.talkOuter p{
  color: #9DAFBD;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.5px;
  max-width: 518px;
  margin: 0px;
}
input,
textarea{
  color: #9DAFBD;
}
.messageSendForm{
  margin-top: 15px;
}
input:focus,
textarea:focus {
  background-color: #F7F9FA 0% 0% no-repeat padding-box; 
  outline: 1px solid #D1DBE3;
}
.formInputsOuter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
p.sentMensage{
  color: var(--mainRedColor);
}
.formInputsOuter
 textarea,
 input{
  border: 1px solid #D1DBE3;
  border-radius: 5px;
  opacity: 1;
  margin-top: 10px;
  text-indent: 20px;
  font-size: 14px;
}
.formInputsTextOuter{
  display: flex;
  width: 100%;
}
.formInputsOuter{
  display: flex;
  width: 100%;
}
.formInputsOuter input{
  height: 50px;
  margin-left:5px;
  margin-right:5px;
  width: 100%;
}
.formInputsOuter textarea{
  width: 99%;
}
.formOuter{
  position: absolute;
  width: 50%;
  height: 60vh;
  background-color: var(--colorWhite);
  bottom: 7px ;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center 
}
@media (max-width: 670px){
  .formInputsTextOuter{
    display: block;
  }
  .formInputsOuter input{
    margin: 0;
    margin-top: 10px;
  }
  .formOuter{
    height: 70vh;
  }
}
@media screen and (min-width: 670px) and (max-width: 1200px){
  .formInputsOuter{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .formInputsTextOuter{
    display: flex;
  }
}


