.errorWrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.errorTitle {
  font-size: 60px;
  font-weight: 100;
  color: var(--mainRedColor);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorText {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--mainRedColor);
  text-align: center;
}

.exclamationMark {
  font-size: 150px;
  font-weight: 400;
  display: inline-block;
  transform: rotate(10deg);
  margin-left: 10px;
}
