h3 {
  text-align: left;
  font: normal normal bold 34px/45px Roboto;
  letter-spacing: 0px;
  color: #1d2933;
  opacity: 1;
}
p {
  font-size: var(--defaultFontSize);
}
small {
  font-size: var(--smallFont);
  color: #9dafbd;
}
/*
form{
  display: flex;
    flex-direction: row;
}
label, input, textarea  {
  display:block;
}
*/
label {
  display: inline-grid;
}
.rounded-border-box {
  border: 1px solid #707070;
  border-radius: 6px;
  padding: 10px;
}
.text-justify {
  text-align: justify;
}
.partner-page-section {
  background: #f9f9f9 0% 0% no-repeat padding-box;
}
.partner-page-header {
  height: 25vh;
  /*text-align-last: center;*/
  padding-left: 38vw;
  background-color: #6b778d;
  align-items: center;
  display: flex;
  /*flex-flow: wrap;*/
}
.partner-page-title {
  margin-left: 50px;
}
.partner-page-header .partner-page-navigation {
  position: absolute;
}
.partner-page-navigation {
  display: inline-flex;
  place-self: flex-end;
  width: 48%;
}
.partner-page-navigation div {
  margin: 0 10px;
  border-bottom: 6px solid transparent;
  border-radius: 3px;
  height: 40px;
  flex: auto;
  text-align-last: center;
}
.partner-page-navigation div:hover {
  border-bottom: 6px solid #6792ff;
  border-radius: 3px;
  height: 40px;
}
.partner-page-navigation div:hover .partner-partner-page-link {
  color: #6792ff !important;
}
.partner-page-navigation a {
  text-align: left;
  font-size: var(--defaultFontSize);
  letter-spacing: 0px;
  color: #bbb8b8;
  opacity: 1;
  text-decoration: none;
}
.partner-page-header h1 {
  text-align: left;
  font: normal normal bold 61px/73px Roboto;
  letter-spacing: 0px;
  color: #6792ff;
  opacity: 1;
  font-size: var(--titleFontSize);
  margin-bottom: unset;
  line-height: normal;
}
.partner-page-header p {
  line-height: unset;
  margin: unset;
}
.partner-page-content {
  display: flex;
  margin: 0 12vw;
}
.partner-page-left {
  width: 25vw;
  margin-top: -15vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 0px;
}
.partner-page-logo {
  width: 25vw;
  height: 35vh;
  background: #1d2933 0% 0% no-repeat padding-box;
  background-position: center;
  border-radius: 9px 9px 0px 0px;
  opacity: 1;
  display: flex;
}
.partner-page-logo img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 500px;
  width: 500px;
}
.partner-page-featured {
  margin: 0 2vw;
}
.partner-page-featured p,
.partner-page-topics p {
  text-align: left;
}
.partner-page-right {
  width: 50vw;
  margin: 0 3vw;
}
.partner-page-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
}
.partner-page-cards p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.partner-page-cards .first {
  flex: 0 0 47%;
  margin: 0 10px;
  text-align-last: center;
}
.partner-page-cards .first-with-border {
  flex: 0 0 47%;
  margin: 0 10px;
  text-align-last: center;
  border-bottom: 6px solid #6792ff;
  border-radius: 3px;
}
.partner-page-cards .first p {
  -webkit-line-clamp: 6;
}
.partner-page-cards .second {
  flex: 0 0 21%;
  margin: 20px 4px;
  padding: 5px 10px;
  text-align-last: left;
}
.partner-page-cards .second-with-border {
  flex: 0 0 21%;
  margin: 20px 4px;
  padding: 5px 10px;
  background-color: #ffffff;
  border-bottom: 6px solid #aba6a6;
  text-align-last: left;
  border-radius: 10px 10px 0px 0px;
}
.partner-page-cards .second-with-border:hover {
  margin-top: -10px;
  margin-bottom: 50px;
}
.partner-page-cards .second img {
  width: 100%;
}
.partner-page-cards .second p {
  text-align: left;
}
.partner-page-cards .second div {
  text-align-last: right;
}
.partner-page-cards .second a {
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #6792ff;
  opacity: 1;
  text-decoration: none;
}
.partner-page-cards .third {
  flex: 0 0 30%;
  margin: 0 10px;
  text-align-last: center;
  border-bottom: 6px solid #6792ff;
  border-radius: 3px;
  background-color: #ffffff;
}
.partner-page-card h4 {
  text-align: center;
  font: normal normal bold 18px/24px Roboto;
  letter-spacing: 0px;
  color: #24375b;
  opacity: 1;
}
.partner-dynamic-content {
  background-color: #ffffff;
  padding: 1vw;
}

.partner-contact-form label {
  font: normal normal medium 18px/24px Roboto;
}
.partner-contact-form input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d1dbe3;
  border-radius: 4px;
  width: 12vw;
  height: 40px;
  margin: 5px 10px 5px 0px;
  padding: 0 10px;
  display: inline-flex;
}
.partner-contact-form #nome,
.partner-contact-form #email {
  width: 19vw;
}
.partner-contact-form ::placeholder {
  font: normal normal normal 14px/16px Roboto;
  letter-spacing: -0.5px;
  color: #9dafbd;
}
.partner-contact-form textarea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  margin: 5px 10px 5px 0px;
  resize: none;
  width: 41vw;
  height: 20vh;
  padding: 10px;
}
.partner-contact-form-action {
  direction: rtl;
  margin-top: 20px;
}
.partner-contact-button {
  color: #f9f9f9;
  background: #6792ff 0% 0% no-repeat padding-box;
  border: 0px solid #707070;
  border-radius: 10px;
  height: 24px;
  direction: rtl;
}
