.all-products {
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(320px, auto);
  column-gap: 2%;
}
.product {
  text-align: center;
}
.product img {
  width: 170px;
  border-radius: 10px;
}
.products-filter-titles {
  font-size: 14px;
  display: flex;
  margin-top: 37px;
}
.products-filter-titles p {
  font-size: 14px;
  margin-bottom: 26px;
  color: #263859;
}
.filter-title {
  margin: 0px 30px 4px 5px;
  color: #9dafbd;
  background: transparent;
  border: 0;
}
.filter-title:hover {
  color: #263859;
}
@media (max-width: 380px){
  .product img{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1080px){
  .product img{
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .product .text {
   text-align: center;
  }
  .products-filter-titles {
    display: flex;
    justify-content: center;
  }
}