.product .text {
  font-size: 14px;
  margin: 0;
}

.product {
  width: 100%;
  display: inline-block;
}

.product img {
  width: 100%;
}
@media (max-width: 1080px){
  .product img{
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .product .text {
   text-align: center;
  }
}