.all-products {
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(320px, auto);
  column-gap: 2%;
}
.product {
  text-align: center;
  padding: var(--sectionVerticalPadding) 0px;
}
.product img {
  width: 150px;
}
@media (max-width: 380px){
  .product img{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1080px){
  .product img{
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .product .text {
   text-align: center;
  }
}