.productPage-outer {
  display: grid;
  grid-template-columns: 50%;
  /* fits the whole page in the fold but the footer under it */
  height: calc(100vh - var(--navbarHeight) - 90px);
  margin-bottom: 10vh;

}
.productPage-img {
  grid-row: 1 / 3;
  grid-column: 1 / 6;
}
.productPage-img img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.productPage-presentation {
  grid-row: 1 / 1;
  grid-column: 1 / 3;
  padding: 10vh;
  text-align: left;
  margin-left: 13vh;
}
.productPage-presentation-button {
  width: 128px;
  height: 34px;
  background: var(--mainRedColor);
  opacity: 1;
  letter-spacing: -0.5px;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  text-align: center;

}
.productPage-presentation-button a {
  letter-spacing: -0.5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  margin-top: 15px;
}
.productPage-presentation-thumbnailUrl{
  grid-row: 1 / 1;
  grid-column: 3/ 4;
  padding: 10vh;
  padding-top: 30vh;
  margin-right: 70px;
}
.productPage-tabNavigation{
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 13vw 12vw 12vw;
}
.productPage-tabNavigation p{
  max-width: 60vw;
  height: calc(var(--exploreSectionHeight) - 20px);
  margin-right: 20px;
  color: var(--productsSubtitle);
}
.productPage-tabNavigation h2{
  color: var(--mainRedColor);
}
.productPage-wrap-texts{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 6vw 30px 12vw;
}
.productPage-wrap-texts h1{
  font-style: normal;
  font-weight: 600;
}
.productPage-wrap-texts h4{
  margin-top: 10px;
}
p.productPage-text-service{
  color: #7C7C7C;

}
.productPage-wrap-texts > span{
  font-style: normal;
  font-weight: 600;
  color: var(--mainRedColor);

}
.productPage-wrap{
  margin-bottom: 40px;
}
.productPage-presentation-thumbnailUrl img{
  width: 300px;
  height: 270px;
}
.productPage-presentation h2 {
  font-size: calc( 0.7 * var(--titleFontSize));
  line-height: 30px;
  color: var(--colorWhite);
}
.productPage-presentation p {
  color: var(--colorWhite);
  line-height: 24px;
}

.productPage-navButtons {
  background: transparent;
  border: none;
  color: var(--blueLightProdutos);
  display: flex;
  font-size: var(--defaultFontSize);
  height: calc(var(--titleFontSize) );
  outline: none;
  text-align: left;
}
