:root {
  --defaultFontSize: clamp(12px, 1.5vh, 18px);
  --smallFont: clamp(8px, 1.2vh, 12px);
  --titleFontSize: calc(var(--defaultFontSize) * 2);
}

h1 {
  color: #263859;
  font-family: Roboto, regular;
  font-size: var(--titleFontSize);
}
