:root {
  /* FONTS */
  --defaultFontSize: clamp(12px, 1.5vh, 18px);
  --smallFont: clamp(8px, 1.2vh, 12px);
  --titleFontSize: calc(var(--defaultFontSize) * 3);

  /* SPACING */
  --sectionVerticalPadding: 7vh;
  --navbarHeight: 3vh;
  --footerHeight: 30vh;
  --darkBlue: #263859;
  --lightGray: #9dafbd;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1 {
  color: var(--darkBlue);
  font-family: Roboto;
  font-size: var(--titleFontSize);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: normal;
}

h6 {
  color: var(--darkBlue);
  font-size: var(--defaultFontSize);
  text-align: center;
  font-weight: normal;
}

p {
  color: var(--lightGray);
  font-family: Roboto, regular;
  font-size: var(--defaultFontSize);
  text-align: center;
}
