/* TODO: REMOVE THIS AND ADD STYLES TO APP.CSS */

:root {
/* COLORS */
--mainColor: #6F2826;
--secondColor: #702826;
--mainRedColor: #B93B40;
--backgroundBoxProdutos: #453434;
--yellonProdutos: #C99E50;
--darkBlueProdutos: #6B778D;
--blueLightProdutos: #9DAFBD;
--blueProdutos: #6792FF;
--colorWhite: #ffff;
--darkBlue: #263859;
--lightGray: #9dafbd;
--parquetBlue: #3781BD;
--farolOrange: #AB662C;
--diagnosticoBlue: #6EE7FE;
--painelComprasYellow: #EEE50A;
--lyraPurple: #967AF9;
--territorioPink: #CB8E8A;
--saneamentoGreen: #57D254;
--backgroundFooter: #2A323A;
--productsSubtitle: #3E3D3D;



/* FONTS */
--robotDefault: Roboto;
--robotRegular: 'Roboto', regular;
--titleFont: Roboto;

}
