.partner-page-cards {
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(320px, auto);
  grid-column-gap: 10%;
  column-gap: 10%;
}

.partner-page-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 300px;
  padding-bottom: 60px;
}

.partner-page-card img {
  width: 157px;
  height: 157px;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}

@media (max-width: 1080px) {
  .partner-page-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(320px, auto);
  }
}
@media (max-width: 480px) {
  .partner-page-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(320px, auto);
    margin-top: 40px;
  }
}

.partner-page-card .partner-page-card--title {
  font-weight: 600;
  margin: 0;
}

.partner-page-card .partner-page-card--description {
  text-align: left;
  margin: 0;
}

.partner-page-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.partner-page-links .partner-page-link {
  color: var(--colorWhite);
  font-size: 12px;
  font-weight: 600;
}

.partner-page-link:hover {
  opacity: 0.8;
}

.partner-page-links .partner-page-link.partner-page-link--text {
  color: var(--mainRedColor);
}

.partner-page-link--button {
  background-color: var(--mainRedColor);
  padding: 4px 9px;
  border-radius: 3px;
}
