.header {
  display: flex;
  position: relative;
  flex-direction: column;
}
.sectionProducts{
  position: absolute;
  display: grid;
  margin-top: 120px;
  grid-template-columns: 25% 30% 45%;
}
.sectionProductsInput{
  width: 400px;
  height: 48px;
  border-radius: 10px;
  border: none;
  margin-left: 150px;
  margin-top: 130px;
  background-color: var(--colorWhite);
  display: flex;
}
.sectionProductsInput input{
  color: #B1B1B1;
  width: 227px;
  height: 35px;
  border: none;
  text-indent: 50px;
  background-color: #F2F3F8;
  border-radius: 10px;
  margin-top: 7px;
  margin-left: 10px;
}
.sectionProductsInput input:focus{
  outline-style: none;
}
.sectionProductsInput p{
  color: #B93B40;
  margin-left: 15px;
  margin-top: -24px;
  padding-left: 220px;
  font-family: 'Poppins',;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
.sectionBoxButton{
  display: flex;
}
.sectionBoxButton a{
  width: 120px;
  height: 40px;
  display: none;
  background-color: #C99E50;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  text-decoration: none;
  opacity: 1;
}
.sectionBoxButton p{
  color: var(--colorWhite);
  font-size: var(--smallFont);
  font-family: var(--robotRegular);
  font-weight: 400;
  text-align: center;
  margin-top: 12px;
}

.sectionProductsInput i {
  margin-left: 20px;
  transition:.3s;
  margin-top: 16px;
  position: absolute;
  color: #B93B40;
}
.searchButton {
  color: var(--mainRedColor);
  background: none;
  border: none;
  margin-left: 18px;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 5px;
}
.sectionExplore {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 30vh;
}
.sectionExploreTexts {
  max-width: 360px;
  margin-top: 70px;
  height: 10vh;
}
.sectionExploreTexts:hover{
  margin-top: 30px;
  height: 10vh;
}
.sectionBoxLine{
  border-bottom: 2px solid var(--secondColor);
  margin-top: 40px;
  content: "";
}
.sectionExploreTexts:hover a.sectionBoxLinks,
.sectionExploreTexts:hover h3{
  color: #C99E50;
  font-weight: 400;
	display:block;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.sectionExploreTextsMain{
  height: 30vh;
  background: lightblue;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.sectionExploreTexts > h3 {
  font-weight: normal;
  color: var(--secondColor);
  font-size: 26px;
}
.sectionExploreTexts > P {
  color: var(--secondColor);
  text-align: left;
  font-weight: normal;
  font-size: var(--defaultFontSize);
  margin-bottom: 10px;
}

@media (max-width: 1080px){
  header{
    position: absolute;
  }
  .sectionProductsInput{
    margin: 0 auto;
    width: 280px;
  }
  .sectionProductsInput input{
    width: 200px;
  }
  .sectionProductsInput p{
    font-size: 8px;
    padding-left: 190px;
  }
  .sectionProducts{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }
  .searchButton {
    color: var(--mainRedColor);
    margin-left: 5px;
    font-size: 12px;
    width: 20%;
    position: relative;
    bottom: 8px;
  }
  .sectionExploreTexts > P{
    text-align: center;
  }
  .sectionExplore{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .sectionExploreTexts > h3 {
    text-align: center;
    font-size: 20px;
  }
  .sectionExploreTexts > P {
    margin-bottom: 30px;
  }
  .sectionProductsBtn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
