.header{
    display: flex;
    flex-direction: column;
    background: url(../../assets/ImgsHeader/bg-mp.png);
    min-height: 140vh;
    margin-top: -120px;
}
.section-products{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.section-products > button{
    color: #D1DBE3;
    font-family: 'Roboto', regular;
    font-size: 33px;
    border: none;
    cursor: pointer;
    background: transparent;
    opacity : 0.5;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
}
.section-info-products{
    background-color: var(--backgroundBoxProdutos);
    border-radius: 5px 5px 5px 5px;
    width: 700px;
    height: 70px;
    margin-left: 35px;
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
}
button.products-btn-left{
    margin-left: 20px;
}
.section-info-products{
    color: var(--darkBlueProdutos);
    font-size: 14px;
    font-family: 'Poppins', Mediun;
}
.section-info-products p{
    margin-top: 20px ;
}
.section-info-products > button{
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    border: none;
    margin-top: 15px ;
    cursor: pointer;
}
.section-explore {
    color: #D1DBE3;
    font-size: 30px;
}
.section-explore > h3{
    margin-left: 35px;
}
.section-info-explore{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-info-explore h3{
    color: var(--blueProdutos);

}
.section-info-explore button{
    background-color: var(--blueProdutos);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    color: var(--white);
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    outline: none;
}
.section-info-explore p{
    color: #9DAFBD;
    font-size: 18px;
}
.section-explore-texts{
    max-width: 400px;
    border-bottom: 2px solid #D1DBE3
}

.section-explore-texts:hover {
    border-bottom: 2px solid #6792FF;
}
.section-explore-texts p{
    margin-left: 5px;
}
#btn-explore{
    display: none;
}
.section-explore-texts:hover #btn-explore {
    display: block;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in; 
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in
}
.section-box-button {
    display: flex;
}