.header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}
.section-products{
  position: absolute;
  width: 100%;
  margin-top: 32px;
}
.section-explore {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;
}
.section-explore-texts {
  font-weight: normal;
  color: var(--secondColor);
  max-width: 330px;
  border-bottom: 2px solid var(--secondColor);
}
.section-explore-texts > h3 {
  font-weight: normal;
  color: var(--secondColor);
  font-size: 26px;
}
.section-explore-texts > P {
  color: var(--secondColor);
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}
.section-box-button{
  width: 120px;
  height: 40px;
  display: flex;
}

.section-box-button a:hover {
  background-color: #C99E50;
  border: none;
  border-radius: 5px;
  color: var(--colorWhite);
  font-size: var(--smallFont);
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  font-family: var(--robotRegular);
  font-weight: 400; 
}

@media (max-width: 1080px){
  header{
    position: absolute;
  }
  .section-explore-texts > P{
    text-align: center;
  }
  .section-explore{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .section-explore-texts > h3 {
    text-align: center;
    font-size: 20px;
  }
  .section-explore-texts > P {
    margin-bottom: 30px;
  }
}



