.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.section-products{
  position: absolute;
  width: 100%;
}
.section-products-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section-explore {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.section-explore-texts {
  font-weight: normal;
  color: #702826;
  max-width: 330px;
  border-bottom: 2px solid #702826;
}
.section-explore-texts > h3 {
  font-weight: normal;
  color: #702826;
  font-size: 30px;
}
.section-explore-texts > P {
  color: #702826;
}
@media (max-width: 1080px){
  .section-explore{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .section-explore-texts > h3 {
    text-align: center;
    font-size: 20px;
  }
  .section-explore-texts > P {
    margin-bottom: 30px;
  }
}


