.openData {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
.openData p{
  margin-bottom: 10px;
  color: #9DAFBD;
}
.openData-counter input{
  width: 255px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D1DBE3;
  border-radius: 4px;
  opacity: 1;
  color: #9DAFBD;
  outline: 0;
  margin:8px 0;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  text-indent: 10px;
}
.openData-counter input:focus{
  border-color:#263859;
  box-shadow:0 0 8px 0 #263859;
}
.input-openData-Icon{
  position:relative;
}
.input-openData-Icon i{
  position:absolute;
  left: 220px;
  top: 10px;
  padding:9px 8px;
  color:#aaa;
  transition:.3s;
}

