.navBar {
  display: flex;
  justify-content: space-around;
  background-color: var(--mainRedColor);
  height: var(--navbarHeight);
}
.navbarLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.navbarLinks a {
  list-style: none;
  text-decoration: none;
  color: var(--colorWhite);
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 300;
}
.icon{
  width: 130px;
  height: 40px;
  margin-top: 60px;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--mainRedColor);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownContent a {
  padding: 8px 30px 4px 0px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropbtnButton {
  color: var(--colorWhite);
  display: flex;
}
.dropbtnButton:after {
  margin: 6px;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  color: var(--colorWhite);
}
.sectionToolTip {
  position: relative;
  display: inline-block;
}
.sectionToolTip .tooltipText {
  visibility: hidden;
  width: 156px;
  border: 1px solid var(--mainColor);
  background-color: var(--colorWhite);
  text-align: center;
  border-radius: 6px;
  padding: 1px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  font-size: 12px;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--mainColor);
  font-family: var(--robotRegular);
}
.sectionToolTip .tooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--colorWhite) transparent transparent transparent;
}
.sectionToolTip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
.mobileButton {
  background-color: var(--mainRedColor);
  border-radius: 0.2rem;
  height: 50px;
  width: 50px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  margin: 30px;
}
.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: var(--colorWhite);
  box-shadow: 0 6px var(--colorWhite), 0 -6px var(--colorWhite);
  transition: 0.2s;
}
.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive{
  outline: none;
  background-color: var(--mainRedColor);
  color: rgb(212, 209, 204);
  opacity: 0.92;
}
.mobileButtonActive::after{
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 6px var(--colorWhite), 0 -6px var(--colorWhite);
}
.navbarMobile .navbarLinks{
  position: absolute;
  display: block;
  top: 80px;
  padding: 0 1rem;
  background-color: var(--colorWhite);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2 );
  transform: translate(-10px);
  opacity: 0;
  pointer-events: none;
}
.navbarMobile .navbarLinks a,
.navbarMobile .navbarLinks button{
  display: flex;
  flex-direction: column;
  background: none;
  font-size: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
}
.navbarMobileActive .navbarLinks{
  transition: 0.3s;
  transform: initial;
  opacity: 1 ;
  z-index: 100;
  pointer-events: initial;
  margin-left: 30px;
}
.navbarMobile .sectionToolTip{
  display: block;
}
@media (max-width: 1080px){
  .icon{
    display: none;
  }
  #basic-button{
    font-size: 10px;
  }
  .dropdownContent{
    position: relative;
  }

}
