.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 40px;
}
.navbar-links {
  display: flex;
  justify-content: space-between;
}
.navbar-links a {
  list-style: none;
  text-decoration: none;
  color: #6F2826;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Roboto, regular;
}
.logo{
  width: 130px;
  height: 40px;
  margin-top: -10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 8px 30px 4px 0px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#basic-button {
  color: #6F2826;
  display: flex;
}
#basic-button:after {
  margin-left: 4px;
  align-self: flex-end;
  padding-bottom: 7px;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 156px;
  border: 1px solid #702826;
  text-align: center;
  border-radius: 6px;
  padding: 1px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  font-size: 12px;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  color: #702826;
  font-family: Roboto, regular;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--secondColor) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.mobileButton {
  background-color: var(--secondColor);
  border-radius: 0.2rem;
  height: 50px;
  width: 50px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  margin: 30px;
}
.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: 0 6px var(--white), 0 -6px var(--white);
  transition: 0.2s;
}
.mobileButton:hover,
.mobileButton:focus,
.mobileButtonActive{
  outline: none;
  background-color: var(--secondColor);
  color: rgb(212, 209, 204);
  opacity: 0.92;
}
.mobileButtonActive::after{
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 6px var(--white), 0 -6px var(--white);
}
.navbarMobile .navbar-links{
  position: absolute;
  display: block;
  top: 80px;
  padding: 0 1rem;
  background-color: #ffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2 );
  transform: translate(-10px);
  opacity: 0;
  pointer-events: none;
}
.navbarMobile .navbar-links a,
.navbarMobile .navbar-links button{
  display: flex;
  flex-direction: column;
  background: none;
  font-size: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  cursor: pointer;
}
.navbarMobileActive .navbar-links{
  transition: 0.3s;
  transform: initial;
  opacity: 1 ;
  z-index: 100;
  pointer-events: initial;
  margin-left: 30px;
}
.navbarMobile .tooltip{
  display: block;
}
@media (max-width: 1080px){
  .logo{
   display: none;
  }
  .navbarMobile .tooltip .tooltiptext{
    display: none;
  }
  #basic-button{
    font-size: 10px;
  }
  .dropdown-content {
    position: relative;
  }
 
}