.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.navbar-links{
    display: flex;
    justify-content: space-between;
}
.navbar-links a{
    list-style: none;
    text-decoration: none;
    color: var(--white);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: Roboto, regular;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
}
#dropdown-basic-button{
    background: transparent;
    border: none;
    color: var(--white);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    outline: none;
}
.dropdow-button span {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 40%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .dropdow-button span::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  .dropdow-button:hover span {
    visibility: visible;
    opacity: 1;
  }