.partners-outer {
  background: url(../../assets/bg-parceiros.png);
  height: 50vh;
  padding: var(--sectionVerticalPadding) 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-repeat: no-repeat ;
}

.partners-outer h1, h2 {
  text-align: left;
  color: var(--white);
  font-family: var(--robotRegular) ;
}
.partners-header {
  flex: 1;
}
.partners-itemList {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: row;
  grid-gap: 7vw 5vw;
  flex: 2;
}
.partners-itemList a {
  cursor: default;
}
.partner-itemAnchor {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 100%;
  width: 100%;
}
@media (max-width: 380px){
  .partners-outer h1 {
    font-size: 20px;
  }
}