.partners-outer {
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: var(--backgroundFooter);
}

.partners-outer h1, .partners-outer p {
  text-align: left;
  color: var(--colorWhite);
  font-family: var(--robotRegular);
  margin-bottom: 10px;
}
.partners-itemList{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-flow: row;
  grid-gap: 6vw 5vw;
  flex: 2;
}
.partners-header {
  padding: var(--sectionVerticalPadding) 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
}
a.cards-action-link-active{
  cursor: none;
  pointer-events: none;
}
@media (max-width: 480px){
  .partners-outer h1 {
    font-size: 20px;
    text-align: center;
  }
  .partners-itemList{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 6vw 25vw;
  }
  .partners-itemList img{
    width: 35px;
    height: 35px;
  }
  .partners-outer p{
    text-align: center;
  }
  .partners-header{
    top: -37px;
  }
}
@media (min-width: 480px) and (max-width: 796px){
  .partners-itemList img{
    width: 50px;
    height: 50px;
  }
}
