.textLoading{
  color: var(--mainRedColor);
  font-size: calc(var(--titleFontSize) * 1.5);
  font-weight: lighter;
  letter-spacing: var(--errorLetterSpacing);
}

.wrapperLoading{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
