.footer-outer {
  background-color: #1d2933;
  position: relative;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
}
.logo-footer{
  width: 130px;
  height: 40px;
}
.footer-menu {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.footer-menu-column {
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
}

.footer-menu-column span {
  letter-spacing: -0.32px;
  color: #ffffff;
  width: 12vw;
  margin-top: 1vh;
  font-size: var(--smallFont);
}

.footer-menu-column h3 {
  color: #9dafbd;
  font-size: var(--defaultFontSize);
  letter-spacing: -0.32px;
  margin: 0 0 10px 0;
}

.footer-menu-column a {
  font-size: var(--smallFont);
  letter-spacing: -0.5px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 7px;
}

.footer-menu-icons a {
  margin-right: 5px;
  display: inline-block;
}

.footer-menu-icon-twitter {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url('../../assets/SocialMedia.svg') 50px 0;
}

.footer-menu-icon-instagram {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url('../../assets/SocialMedia.svg') 0 0;
}

.footer-menu-icon-facebook {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background: url('../../assets/SocialMedia.svg') 20px 0;
}

.create-space {
  flex-grow: 1;
}
