#partners-outer {
  background-color: #311E1E;
  height: 35vh;
  padding: var(--sectionVerticalPadding) 20%;
  display: flex;
  flex-direction: column;
  opacity: 0.92;
}
.partners-header-Page {
  color: var(--white);
  text-align: center;
  margin-bottom: 30px;
}
.partners-header-Page p {
  color: #B1B1B1;
  text-align: center;
  margin-top: 10px;
}
.partners-itemList-page{
  margin-top: 30px;
}
.slick-slide img{
  width: 128px;
  margin-left: 30px;
}
@media (max-width: 800px){
  .slick-slide img{
    width: 40px;
    height: 40px;
  }
}
