#partners-outer {
  background-color: var(--backgroundFooter);
  height: 30vh;
  padding: var(--sectionVerticalPadding) 10%;
  display: flex;
  flex-direction: column;
  opacity: 0.92;
}
.partners-header-Page {
  color: var(--colorWhite);
  text-align: center;
  margin-bottom: 30px;
}
.partners-header-Page p {
  color: #B1B1B1;
  text-align: center;
  margin-top: 10px;
}
.partners-itemList-page{
  margin-top: 30px;
}
.slick-slide img{
  width: 128px;
  margin-left: 28px;

}
/* The only way I've found to overwrite the library's css is using the important*/
.slick-next::before,
.slick-prev::before{
  font-size: 40px !important;  
  color: #B1B1B1 !important;
  opacity: 1 !important;
 
}
.slick-dots li button::before{
  font-size: 15px !important;
}
.slick-dots li.slick-active button::before{
  color: var(--colorWhite) !important;
}

@media (max-width: 800px){
  .slick-slide img{
    width: 40px;
    height: 40px;
  }
}
