.slick-slide img {
  height: 7vw;
  /* DO NOT CHANGE THIS TO WIDTH, AS SLICKER WILL OVERRIDE IT TO 100% */
  max-width: 7vw;
}

.slick-slider .slick-next::before, .slick-slider .slick-prev::before {
  font-size: 40px;
  color: #6B778D;
  opacity: 1;
}

.slick-slider .slick-dots li button::before {
  font-size: 15px;
}

.slick-slider .slick-dots li.slick-active button::before {
  color: #6B778D;
}

/* this is necessary because slick renders empty divs inside the slider */
.slick-active > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
    .slick-slide img{
        /* width: 40px; */
        /* height: 40px; */
    }
}
