.pageNotFound {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorCode {
  font-size: 180px;
  font-weight: 100;

  letter-spacing: calc(var(--errorLetterSpacing) * 2);
  color: var(--mainRedColor);
}

.errorMessage {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: var(--errorLetterSpacing);
  color: var(--mainRedColor);
}
