.pageNotFound {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundFooter);
}

.errorCode {
  font-size: 180px;
  font-weight: 100;

  letter-spacing: 15px;
  color: var(--colorWhite);
}

.errorMessage {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--lightGray);
}
