.sectionInfoProducts {
  color: var(--colorWhite);
  margin-top: 100px;
}

.sectionInfoProducts h2 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--robotRegular);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.sectionInfoProducts p {
  font-weight: 300; 
  line-height: 1.5; 
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: var(--robotRegular);
}

.sectionInfoProducts a {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #b1b1b1;
  font-size: var(--smallFont);
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  font-family: var(--robotRegular);
  font-weight: 400; 
}

.sectionInfoProducts a.MPRJDigitalCustomColor:hover {
  background-color: var(--mainRedColor);
  color: var(--colorWhite);
}

.sectionInfoProducts > a.ParquetDigitalCustomColor:hover {
  background-color: var(--parquetBlue);
  color: var(--colorWhite);
}

.sectionInfoProducts > a.FarolCustomColor:hover {
  background-color: var(--farolOrange);
  color: var(--colorWhite);
}

@media (max-width: 1080px) {
  .sectionInfoProducts {
    margin-top: 40px;
  }
  .sectionInfoProducts h2 {
    text-align: center;
  }
  .sectionInfoProducts p {
    text-align: center;
  }
  .sectionInfoProducts a {
    display: none;
  }
}
