.section-products {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section-products > button {
  color: #B1B1B1;
  font-family: 'Roboto', regular;
  font-size: 33px;
  border: none;
  cursor: pointer;
  background: transparent;
  opacity: 0.5;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
}
.button-MPRJDigital:hover{
  color:#C99E50;
  opacity: 1;
  font-weight: bold;

} 
.button-Farol:hover{
  color:#F3A04C;
  opacity: 1;
  font-weight: bold;


}
.button-ParquetDigital:hover{
  color:#C99E50;
  opacity: 1;
  font-weight: bold;
}  