.sectionProductsBtn > button {
  color: var(--colorWhite);
	font-family: Montserrat,Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: none;
  background: transparent;
  margin-left: 100px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.25;
  margin-top: 10px;
}
.sectionProductsBtn > button:hover {
  color: var(--colorWhite);
  opacity: 1;
}
.buttonHeader-MPRJDigital:hover{
  content: '';
  color:#C99E50;
  opacity: 1;
  font-weight: bold;
} 
.buttonHeader-Farol:hover{
  content: '';
  color:#CCB0A3;
  opacity: 1;
  font-weight: bold;
}
.buttonHeader-ParquetDigital:hover{
  content: '';
  color: #82D4FF;
  opacity: 1;
  font-weight: bold;
}  
@media (max-width: 1080px){
  .sectionProductsBtn  > button {
   font-size: 16px;
  }
}
