
.sectionProductsBtn > button {
  color: var(--colorWhite);
	font-family: Montserrat,Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.25;
  margin-top: 10px;
  margin-left: 10px;
}
.sectionProductsBtn > button:hover {
  color: var(--colorWhite);
  opacity: 1;
}
.sectionProductsBtn > span{
  content: '|';
  margin-left: 110px;
  background-color: var(--colorWhite);
  color: var(--colorWhite);
  opacity: 0.25;
  border-radius: 5px;
  width: 0.6vh;
  height: 1.8vh;
  display: inline-block;
}

.buttonMprj button::before:hover{
  background-color: red;
  color: red;
}
@media (max-width: 1080px){
  .sectionProductsBtn  > button {
   font-size: 16px;
  }
}
