.section-products-btn > button {
  color: #B1B1B1;
  font-family: 'Roboto', regular;
  font-size: 33px;
  border: none;
  background: transparent;
  opacity: 0.5;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}
.button-MPRJDigital:hover{
  color:#C99E50;
  opacity: 1;
  font-weight: bold;
} 
.button-Farol:hover{
  color:#CCB0A3;
  opacity: 1;
  font-weight: bold;
}
.button-ParquetDigital:hover{
  color: #82D4FF;
  opacity: 1;
  font-weight: bold;
}  
@media (max-width: 1080px){
  .section-products-btn > button {
   font-size: 16px;
 
  }
}