
.sectionProductsBtn > button {
  color: var(--colorWhite);
	font-family: Montserrat,Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.25;
  margin-top: 10px;
  margin-left: 10px;
}

.sectionProductsBtn:hover > button, .sectionProductsBtnActive > button {
  opacity: 1;
}

.sectionProductsBtn:hover > span, .sectionProductsBtnActive span:only-of-type {
  opacity: 1;
}

.sectionProductsBtn span {
  content: '|';
  margin-left: 110px;
  background-color: var(--colorWhite);
  opacity: 0.25;
  border-radius: 5px;
  width: 0.6vh;
  height: 16px;
  display: inline-block;
}

.sectionProductsBtnActive .MPRJDigitalCustomColor, .sectionProductsBtn:hover > span.MPRJDigitalCustomColor {
  background-color: var(--mainRedColor);
}

.sectionProductsBtnActive .ParquetDigitalCustomColor, .sectionProductsBtn:hover > span.ParquetDigitalCustomColor {
  background-color: var(--parquetBlue);
}

.sectionProductsBtnActive .FarolCustomColor, .sectionProductsBtn:hover > span.FarolCustomColor {
  background-color: var(--farolOrange);
}

@media (max-width: 1080px){
  .sectionProductsBtn  > button {
   font-size: 16px;
  }
}
