.mprjDigital-outer{
  font-family: Roboto;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'mprjTexts mprjTexts mprjTexts mprjInfo mprjInfo mprjInfo';
}
.mprjDigital-outer-text{
  grid-area: mprjTexts;
  margin: auto;
  background-color: var(--mainColor);
  height: 300px;
  border: 1px solid #707070;
}
.mprjDigital-outer-text h1{ 
  color: #C99E50;
}
.mprjDigital-outer-text h1.title { 
  margin-top: 50px;
}
.mprjDigital-itemOuter-text p.p-subtitle{
  max-width: 500px;
}
.mprjDigital-outer-text p{ 
  color: var(--white);
  margin-left: 80px;
}
.mprjDigital-outer-text h1, p{ 
  margin-right: 30px;
  margin-top: 20px;
  text-align: right;
}
.mprjDigital-moreInfo {
  display: flex;
  flex-direction: column;
  grid-area: mprjInfo;
  text-align: left;
  margin-left: 40px;
}
.mprjDigital-itemOuter {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.mprjDigital-itemOuter img{
  width: 70px;
  height: 65px;
  margin-top: 35px;
  margin-right: 30px;
}
.mprjDigital-itemOuter-text  { 
  display: flex;
  flex-direction: column;
}
.mprjDigital-itemOuter-text h6  { 
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.mprjDigital-itemOuter p, h6 { 
  text-align: left;
  color: #222222;
}
.mprjDigital-itemOuter p { 
  margin-top: 0px;
}

@media (max-width: 1080px){
  .mprjDigital-outer-text h1, h6 { 
    font-size: 20px ;
  }
  .mprjDigital-outer{
    display: flex;
    flex-direction: column;
  }
  .mprjDigital-moreInfo {
    margin: 0 auto;
  }
  .mprjDigital-itemOuter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mprjDigital-itemOuter-text h6  { 
    text-align: center;
  }
  .mprjDigital-itemOuter {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mprjDigital-itemOuter img {
    display: flex;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .mprjDigital-itemOuter p { 
    width: 300px;
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .mprjDigital-outer-text h1, p{ 
    text-align: center;
  }
  .mprjDigital-outer-text { 
    height: 270px;
  }
}

