.mprjDigital-outer {
  font-family: Roboto;
  display: grid;
  grid-gap: 30px;
  margin: 10vh 0;
  grid-template-areas: 'mprjTexts mprjTexts mprjTexts mprjInfo mprjInfo mprjInfo';
  height: 100vh;
}
.mprjDigital-outer-text {
  grid-area: mprjTexts;
  margin: auto;
  background-color: var(--mainRedColor);
  height: 380px;
  border: 1px solid #707070;
  padding-left: 8vw;
  padding-right: 2vw;
}
.mprjDigital-outer-text h1{
  color: var(--colorWhite);
}
.mprjDigital-outer-text h1.title {
  margin-top: 50px;
}
.mprjDigital-itemOuter-text p.p-subtitle {
  max-width: 500px;
}
.mprjDigital-outer-text p {
  color: var(--colorWhite);
  margin-left: 80px;
  text-align: right;
}
.mprjDigital-outer-text h1, .mprjDigital-outer-text p{
  margin-right: 30px;
  margin-top: 20px;
  text-align: right;
}
.mprjDigital-moreInfo {
  display: flex;
  flex-direction: column;
  grid-area: mprjInfo;
  text-align: left;
  margin-left: 40px;
  padding-right: 8vw;
  justify-content: center;
}
.mprjDigital-itemOuter {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.mprjDigital-itemOuter img {
  width: 70px;
  height: 65px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}
.mprjDigital-itemOuter-text {
  display: flex;
  flex-direction: column;
}
.mprjDigital-itemOuter-text h6 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.mprjDigital-itemOuter p, h6 {
  text-align: left;
  color: #222222;
}
.mprjDigital-itemOuter p {
  margin-top: 0px;
}

@media (max-width: 1080px){
  .mprjDigital-outer-text h1, h6 {
    font-size: 20px ;
  }
  .mprjDigital-outer {
    display: flex;
    flex-direction: column;
  }
  .mprjDigital-moreInfo {
    margin: 0 auto;
  }
  .mprjDigital-itemOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mprjDigital-itemOuter-text h6 {
    text-align: center;
  }
  .mprjDigital-itemOuter {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mprjDigital-itemOuter img {
    display: flex;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .mprjDigital-itemOuter p {
    width: 300px;
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .mprjDigital-outer-text h1, p{
    text-align: center;
    margin-left: 30px;
  }
  .mprjDigital-outer-text {
    height: 270px;
    padding: 0;
    text-align: center;
  }
}
