.mprj-digital {
  width: 64%;
  margin: auto;
  height: 100%;
  text-align: center;
  position: relative;
  font-family: Roboto;
}

.mprjDigital-outer {
  height: 55vh;
  padding: var(--sectionVerticalPadding) 20%;
  display: flex;
  flex-direction: column;
}

.mprjDigital-moreInfo {
  display: flex;
  flex: 1;
}

.mprjDigital-moreInfo div {
  flex: 1;
  flex-direction: column;
}

.mprjDigital-itemOuter {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.mprjDigital-moreInfo div:last-child {
  margin-right: 0;
}

.mprjDigital-itemOuter p {
  font-size: var(--smallFont);
  /* text-align: justify; */
}

.mprj-digital .title {
  /* color: #263859;
  margin: 12px 0;
  margin-top: 185px; */
}

/* .mprj-digital p {
  color: #9dafbd;
  font-size: 18px;
  margin: 4px 0px;
} */

/* .mprj-digital h1 {
  font-size: 54px;
  font-weight: normal;
} */

.mprj-digital button {
  /* cursor: pointer; */
}


.more-info > div {
  /* width: 30%; */
}
